// @font-face {
//   font-family: "Antarctica";
//   src: url("../fonts/Antarctica-Bold.woff2") format("woff2"),
//     url("../fonts/Antarctica-Bold.woff") format("woff");
//   font-weight: bold;
//   font-style: normal;
//   font-display: swap;
// }

@font-face {
  font-family: "Antarctica";
  src: url("../fonts/Antarctica-Black.woff2") format("woff2"),
    url("../fonts/Antarctica-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

// @font-face {
//   font-family: "Antarctica";
//   src: url("../fonts/Antarctica-ExtraBold.woff2") format("woff2"),
//     url("../fonts/Antarctica-ExtraBold.woff") format("woff");
//   font-weight: 800;
//   font-style: normal;
//   font-display: swap;
// }

// @font-face {
//   font-family: "Antarctica";
//   src: url("../fonts/Antarctica-Medium.woff2") format("woff2"),
//     url("../fonts/Antarctica-Medium.woff") format("woff");
//   font-weight: 500;
//   font-style: normal;
//   font-display: swap;
// }

@font-face {
  font-family: "Lincoln";
  src: url("../fonts/Lincoln.woff2") format("woff2"),
    url("../fonts/Lincoln.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
